<html lang="en">
{{!-- HEADER --}}
{{> head}}

<body>

    {{!--NAVBAR --}}
    {{>navbar}}

    {{!-- FOOTER --}}
    <div class="container">
        {{{body}}}
    </div>


    {{!--FOOTER --}}
    {{>footer}}

</body>